/* Body Styles */

body {
  font-family: arial;
  font-size: 13px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

/* Header Styles */

.header {
  display: block;
  background-color: #f2f2f2;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  margin-left: -10px;
}

.header_right {
  float: right;
  margin-right: 10px;
}

.header_logo {
  float: left;
  margin-left: 12px;
  margin-top: 5px;
}

#search_box {
  width: 750px;
  height: 35px;
  font-family: arial;
  font-size: 16px;
  border: solid 1px;
  border-color: grey;
  border-radius: 0px;
  background-color: white;
  margin-top: 10px;
  margin-left: 20px;
  float: left;
  box-shadow: 1px 1px 1px 1px #cdcecd;
  padding-left: 5px;
}

#sign_in_button {
  vertical-align: bottom;
  margin-bottom: 5px;
  background-color: #4285f4;
  border: 3px solid;
  border-color: #4285f4;
  border-radius: 5px;
  color: white;
}

.search_options_left {
  font-style: arial;
  font-size: 16px;
  position: absolute;
  margin-left: 160px;
  margin-top: 65px;
  word-spacing: 8px;
}

.search_options_right {
  font-style: arial;
  font-size: 16px;
  position: absolute;
  margin-left: 800px;
  margin-top: 65px;
  word-spacing: 8px;
}

li {
  display: inline-block;
}

/* Results Section */

.results_section {
  display: inline-block;
  position: relative;
  float: left;
  text-align: left;
  background-color: white;
  width: 750px;
  height: auto;
  margin-left: 145px;
  margin-top: 90px;
  margin-bottom: 400px;
  padding-left: 5px;
  line-height: 8px;
  font-size: 14px;
}

.results_header {
  font-size: 22px;
  color: #1a0dab;
}

.results_URL {
  color: rgb(0, 102, 33);
}

.results_content {
  display:inline-block;
  line-height: 20px;
  margin-top: -5px;
}

.related_searches {
  margin-top: 50px;
}

#related_header {
  font-size: 18px;
}

.related_table {
  width: 600px;
  height: 100px;
}

.related_link {
  color: #1a0dab;
  font-weight: bold;
  font-size: 16px;
}

.search_pages_table {
  margin-top: 40px;
}

/* Footer Styles */

.footer {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  margin-left: -214px;
  word-spacing: 8px;
}

.footer_left {
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  position: relative;
}

.footer_right {
  float: right;
  margin-right: 10px;
  margin-top: 12px;
  position: relative;
}

#use_google_com {
  word-spacing: 1px !important;
  }

/* Search Area */

.search_area {
  margin-top: 100px;
}
